@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');



* {
  margin: 0;
  padding: 0;
}

body {
  background: powderblue;
}

.bloc1 {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  height: 10vh;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: crimson;
  /*font-family: 'Kalam', cursive; */
  /*font-family: 'Rock Salt', cursive; */
  /* font-family: 'Bad Script', cursive; */
  font-family: 'Covered By Your Grace', cursive;
}

#instructions {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  height: 15vh;
  width: 80vw;
  /*font-family: 'Nanum Pen Script', cursive; */
  font-family: 'Cabin Sketch', cursive;
  font-size: 1.5rem;
  line-height: 30px;
}

  #rules {
  height: 10vh;
  width: 50vw;
  /*font-family: 'Nanum Pen Script', cursive; */
  font-family: 'Cabin Sketch', cursive;
  line-height: 30px;
  display: none;
  }


.spaceWord {
  border: 1px black solid;
  border-radius: 5px;
  width: 20px;
  height: 7px;
  padding: 2px 6px 2px 6px;
}

/* GAME AREA*/

.bloc2 {
  box-sizing: border-box;
  /* border: grey 0.5px solid;
  */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 0 5px;
  height: 72vh;
}

#modeChoice {
  display: none;
  text-align: center;
  background: blueviolet;
  color: whitesmoke;
  box-sizing: border-box;
  padding: 5px;
  margin: 0px 5px 5px 0;
}

.choice {
  display: flex;
  justify-content: space-evenly;
}

#soloMode,
#multiMode {
  border: 3px white groove;
  width: 15%;
  height: 10%;
  margin: 10px;
}

.characterStatus {
display: flex;
justify-content: flex-start;
}

#breakdownBar {
  margin-top: 1vh;
  background: rgb(235, 182, 122);
  color: brown;
  width: 100vw;
  height: 3vh;
  border-radius: 20px;
}

.gameDisplay {
  box-sizing: border-box;
  width: 100vw;
  height: 63vh;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background: url('./Ressource/img/oie_2422281rEIIbDIk.png');
  background-position-y: -20px;
background-repeat: round;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#character {
  text-align: center;
  grid-row: 3 / 5;
  grid-column: 2;
  background:url('./Ressource/img/oie_HaXWmVqe4eXS.png');
  background-size: 6.67vw;
  background-repeat: space;
  
}


#fly {
  grid-column: 5;
  grid-row: 3;
  animation: fly-movement 3s alternate cubic-bezier(.6,.07,.33,.86)  infinite;
  text-align: center;
  padding-top: 10px;
  background: url('./Ressource/img/oie_24224811zzTMdizQ.png');
  background-repeat: no-repeat;

}

/*#floor {
  z-index: -1;
  background: indigo;
  grid-row: 5;
grid-column: 1 / 11;
}
*/

footer {
  position: fixed;
  bottom: 0;
  left: 50vw;
}

a {
  text-decoration: none;
  color: teal;
}



@keyframes fly-movement {
  0% { transform: translateX(7px);}
  25% {transform: translateY(4px);}
  45% {transform: translateX(-5px);}
  60% {transform: translateY(-4px);}
  70% {transform: translateY(6px);}
  75% {transform: translateX(3px) ;}
  80% {transform: translateX(3px);}
  90% { transform: translateY(2px);}
  100% {transform: translateX(-4px);}
}

@keyframes fly-fall {
  0% { transform: translateY(-7px);}
  25% {transform: rotate(10deg);}
  45% {transform: translateY(-5px);}
  60% {transform: translateY(-4px);}
  70% {transform: rotate(-5deg);}
  75% {transform: translateY(-3px) ;}
  80% {transform: translateY(-3px) rotate(2deg);}
  90% { transform: translateY(-2px);}
  100% {transform: translateY(-4px) rotate(-3deg);}
}
